/notebooks
/wandb
__pycache__
datasets/utils/2mnist_10digits
run_slurm.sh
test_slurm.sh
/logs
datasets/__pycache__
venv/
.python-version
rss/embeddings_resnet/
*.csv
*.pth
*.png
*.pdf
*.txt
*.sh
best_model
resnet_prova.py

preprocessing/data
preprocessing/logs
rss/preprocessing/saved_activations
rss/preprocessing/saved_models
rss/preprocessing/mnist/2mnist_10digits

rss/wandb
rss/datasets/utils/2mnist_10digits
rss/run_slurm.sh
rss/logs
rss/datasets/__pycache__
rss/data
rss/preprocessing/logs
